<mat-expansion-panel (opened)="panelOpen = true" (closed)="panelOpen = false">
  <mat-expansion-panel-header class="accordion-header">
    <mat-panel-title class="accordion-header-title">
      <app-station-address [station]="station"></app-station-address>
    </mat-panel-title>
    <mat-panel-description>
      {{station.placal}} cars available
    </mat-panel-description>
  </mat-expansion-panel-header>

  <app-car-list *ngIf="panelOpen" [station]="station"></app-car-list>
</mat-expansion-panel>