<div class="container">
  <h3>Stations</h3>
  <div *ngIf="!(isQuerying | async); else loading">
    <mat-accordion *ngIf="!hasError; else errorRetry">
      <app-station-row *ngFor="let station of stations" [station]="station"></app-station-row>
    </mat-accordion>
    <ng-template #errorRetry>
      <app-error-retry (retry)="fetchStations()"></app-error-retry>
    </ng-template>
  </div>
  <ng-template #loading>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-template>

</div>
