<div *ngIf="!(isQuerying | async); else loading">
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="model">
      <mat-header-cell *matHeaderCellDef class="model-header-cell"> Model </mat-header-cell>
      <mat-cell *matCellDef="let car" class="model-cell">{{car?.model}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="hourlyPrice">
      <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
      <mat-cell *matCellDef="let car">{{car?.hourlyPrice | currency: '€'}}/h</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="rating">
      <mat-header-cell *matHeaderCellDef class="rating-header-cell"> Rate </mat-header-cell>
      <mat-cell *matCellDef="let car" class="rating-cell">{{car?.rating}} <img class="star" src="/assets/star.png"></mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="condition">
      <mat-header-cell *matHeaderCellDef class="condition-header-cell"> Condition </mat-header-cell>
      <mat-cell *matCellDef="let car" class="condition-cell">{{car?.condition}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="arrow">
      <mat-header-cell *matHeaderCellDef class="arrow-header-cell"></mat-header-cell>
      <mat-cell *matCellDef="let car" class="arrow-cell">></mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></mat-header-row>
    <mat-row *matRowDef="let car; columns: displayedColumns;" class="row" [routerLink]="getCarViewRoute(car)"></mat-row>
  </mat-table>
</div>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>