@import '../../styles.scss';

.bar {
  width: 100%;
  background-color: $main-color;
  justify-content: space-between;
  box-shadow: 0 0 0 1px black;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 40px;

    max-width: $desktop-max-width;

    @media (max-width: $breakpoint-mobile) {
      max-width: $mobile-max-width;
    }

    .logo {
      display: flex;
      color: black;
      text-decoration: none;
      margin: 10px 0 10px 20px;
    
      a {
        color: inherit;
        text-decoration: inherit;
        font-weight: 600;
      }

      img {
        height: 50px;
        width: 50px;
      }
      h1 {
        margin: 0;
        align-self: center;
      }
    }

    .beta {
      margin-bottom: 5px;
    }
  }
}