@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$breakpoint-mobile: 1000px;

$desktop-min-width: 900px;
$desktop-max-width: 1200px;

$mobile-min-width: 375px;
$mobile-max-width: 800px;

$form-max-width: 600px;

$main-color: rgb(16, 169, 235);
$main-color-dark: rgb(41, 138, 180);
$main-color-light: rgb($main-color, 0.1);
$greyish-blue: rgb(250, 251, 252);
$footer-color: rgb(65, 71, 74);

@font-face {
  font-family: 'HelveticaNeue';
  src: url('assets/fonts/helveticaneue/HelveticaNeue Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueBold';
  src: url('assets/fonts/helveticaneue/Helvetica Neu Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'HelveticaNeue';
}