@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$breakpoint-mobile: 1000px;

$desktop-min-width: 900px;
$desktop-max-width: 1200px;

$mobile-min-width: 375px;
$mobile-max-width: 800px;

$main-color: rgb(63, 196, 253);
$main-color-light: rgb($main-color, 0.1);
$greyish-blue: rgb(250, 251, 252);