@import '../../styles.scss';

.error-retry {
  display: flex;
  flex-direction: row;

  p {
    margin-right: 20px;
  }

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    align-items: center;
  }
}